<table>
  <tr>
    <th> Pickup date </th>
    <th> Delivery date </th>
    <th>Pickup Address</th>
    <th>Destination Address</th>
    <th> Volume </th>
    <th> Phone number </th>
    <th>Email</th>
    <th>Name</th>
    <th>Renting</th>

  </tr>


<% @next_month_bookings.each do |next_month_booking| %>
  <tr>
    <td>
      <%= Time.zone.parse(next_month_booking.pickup_date).strftime("%I:%M%P %b %d") %>
    </td>  

    <td>
      <%= Time.zone.parse(next_month_booking.delivery_date).strftime("%I:%M%P %b %d") %>
    </td> 

    <td>
     <%=  next_month_booking.pickup_address %>
    </td>

    <td>
     <%= next_month_booking.delivery_address %>
    </td>

    <td>
     <%= next_month_booking.volume %>
    </td>

    <td>
     <%= next_month_booking.phone_number %>
    </td>

    <td>
      <%=  next_month_booking.email %>
    </td>
    <td>
      <%= next_month_booking.name %>
    </td>
    
    <th>
      <%= next_month_booking.rating %>
    </th>     

  </tr>
<% end %>
</table>



