<h2> List of all bookings</h2> 
<%= link_to "Bookings for next month", next_month_bookings_admin_bookings_path %>


<%= form_tag admin_bookings_path ,:method=>"get" do %>
  <p>
    <p>Start Date
    <%= text_field_tag("search[start_date]", !params[:search].blank? && !params[:search]["start_date"].blank? ?  params[:search]["start_date"] : "", :class => 'datepicker')  %>
    
     End Date 
    <%= text_field_tag( "search[end_date]", !params[:search].blank? && !params[:search]["end_date"].blank? ?  params[:search]["end_date"] : "" , :class => 'datepicker') %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<table style="margin-top:20px;">
  <tr>
    <th> Pickup date </th>
    <th> Delivery date </th>
    <th>Pickup Address</th>
    <th>Destination Address</th>
    <th> Volume </th>
    <th> Phone number </th>
    <th>Email</th>
    <th>Name</th>
    <th>Renting</th>
    <th></th>
    <th></th>


  </tr>


<% @bookings.each do |booking| %>
  <tr>
    <td>
      <%= Time.zone.parse(booking.pickup_date).strftime("%I:%M%P %b %d") %>
    </td>  

    <td>
      <%= Time.zone.parse(booking.delivery_date).strftime("%I:%M%P %b %d") %>
    </td> 

    <td>
     <%=  booking.pickup_address %>
    </td>

    <td>
     <%= booking.delivery_address %>
    </td>

    <td>
     <%= booking.volume %>
    </td>

    <td>
     <%= booking.phone_number %>
    </td>

    <td>
      <%= booking.email %>
    </td>
    
    <td>
      <%= booking.name %>
    </td>
    
    <td>
      <%= booking.rating %>
    </td>  
     <td>
      <%= link_to "Show",admin_booking_path(booking) %>
    </td>   
     <td>
      <%= link_to "Delete",admin_booking_path(booking),method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>     

  </tr>
<% end %>
</table>






  
