<table>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Pickup Address</th>
    <th>Destination Address</th>
    <th>Options</th>

  </tr>


<% @bookings.each do |booking| %>
  <tr>

    <td>
      <%= link_to "#{booking.email}" %>
    </td>
    <td>
      <%= "#{booking.name}" %>
    </td>
    <td>
     <%=  "#{booking.pickup_address}" %>
    </td>
     <td>
     <%= "#{booking.delivery_address}" %>
    </td>
    <td>
      <%= link_to "delete",admin_booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %>

  </tr>
    </td>

  </tr>
<% end %>
</table>






<% content_for :sidebar do %>
  <div class="box">
    <h5>View Next Month Bookings</h5>
      <%= button_link_to "VISIT", next_month_bookings_admin_bookings_path %>
   </div>     
<% end %>
