<h5>
    <%= "name" %>: <%= @booking.name %>
</h5>
<h5>
    <%= "email" %>: <%= @booking.email %>
</h5>
<h5>
    <%= "ph_no" %>: <%= @booking.ph_no %>
</h5>
<h5>
    <%= "vol" %>: <%= @booking.vol %>
</h5>
<h5>
    <%= "pickup" %>: <%= @booking.addr %>
</h5>
<h5>
    <%= "pick_date" %>: <%= @booking.pick_date %>
</h5>
<h5>
    <%= "dest" %>: <%= @booking.dest %>
</h5>
<h5>
    <%= "del_date" %>: <%= @booking.del_date %>
</h5>
<h5>
    <%= "park_zone" %>: <%= @booking.park_zone %>
</h5>
<h5>
    <%= "length_rental" %>: <%= @booking.length_rental %>
</h5>

