<h5>
    <%= "name" %>: <%= @booking.name %>
</h5>
<h5>
    <%= "email" %>: <%= @booking.email %>
</h5>
<h5>
    <%= "ph_no" %>: <%= @booking.phone_number %>
</h5>
<h5>
    <%= "vol" %>: <%= @booking.volume %>
</h5>
<h5>
    <%= "pickup" %>: <%= @booking.pickup_address %>
</h5>
<h5>
    <%= "pick_date" %>: <%= @booking.pickup_date %>
</h5>
<h5>
    <%= "dest" %>: <%= @booking.delivery_address %>
</h5>
<h5>
    <%= "del_date" %>: <%= @booking.delivery_date %>
</h5>
<h5>
    <%= "park_zone" %>: <%= @booking.parking_zone %>
</h5>
<h5>
    <%= "length_rental" %>: <%= @booking.length_rental %>
</h5>
