
<% content_for :page_title do %>
  <%= @site_page.page_title rescue '' %>
<% end %>

<div class="booking_form">
  <%= form_for @booking do |form| %>

  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
     <tr>
      <td>
        <%= form.label t(:recurring) %><br />
      </td>
      <td>
        <%= form.radio_button :recurring,'yes' %>
      </td>
    </tr>
    <tr>
      <td>
        <%= form.label t(:name) %><br />
      </td>
      <td>
        <%= form.text_field :name %>
     </td>
    </tr>
    <tr>
      <td> 
        <%= form.label "E-mail" %><br />
      </td>
      <td>  
      <%= form.text_field :email %>
      </td>  
    </tr> 
    <tr>
      <td>  
      <%= form.label t(:phone_number) %><br />
      </td>
      <td>
      <%= form.text_field :ph_no %>
      </td>
    </tr>  
    <tr>
      <td> 
      <%= form.label t(:no_of_boxes) %><br />
      </td>
      <td>
      <%= form.text_field :vol %>
      </td>
    </tr>  
    <tr>
      <td>  
      <%= form.label t(:pick_up_addr) %><br />
      </td>
      <td>
      <%= form.text_field :addr %>
      </td>
    </tr>  
    <tr>
     <td>  
      <%= form.label t(:pick_up) %><br />
     </td>
     <td>
      <%= form.text_field :pick_date,:class=>"booking_pick_date" %>
     </td>
    </tr>  
    <tr>
      <td>
      <%= form.label t(:deli_addr) %><br />
      </td>
      <td>
      <%= form.text_field :dest %>
      </td>
    </tr>  
    <tr>
      <td>
      <%= form.label t(:deli_date) %><br />
      </td>
      <td>
      <%= form.text_field :del_date ,:class=>"booking_del_date"%>
      </td>
    </tr>
    <tr>
      <td> 
      <%= form.label t(:park) %><br />
      </td>
      <td>
      <%= form.check_box :park_zone %>
      </td>
    </tr>  
    <tr>
      <td>
      <%= form.label t(:rental_period) %><br />
      </td>
      <td>
      <%= form.text_field :length_rental %>
      </td>
    </tr>
    <tr>
      <td>
      <%= link_to form.submit%>
      </td>
    </tr>  
  <% end %>
</table>  
</div>

<script type="text/javascript">

$(document).ready(function() {
  jQuery(".booking_pick_date").datetimepicker({
        //language:  'fr',
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    forceParse: 0,
    minuteStep:15
    });
  jQuery(".booking_del_date").datetimepicker({
        //language:  'fr',
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    forceParse: 0,
    minuteStep:15
    });
});

</script> 