<% content_for :head do %>
  <%#= formtastic_stylesheet_link_tag %>
<% end %>

<% content_for :page_title do %>
  <%= @site_page.page_title rescue '' %>
<% end %>

<div class="booking_form">
<table>
<%= semantic_form_for @booking do |f| %>
  <%= f.inputs :name => "Basic" do %>
    <tr>
      <td>
        <%= f.label :name %></br>
      </td>
      <td>
        <%= f.input :name, :label =>false %>      
      </td>    
    </tr>

    <tr>
      <td>
        <%= f.label :email %></br>
      </td>
      <td>
        <%= f.input :email, :label =>false %>      
      </td>    
    </tr>

    <tr>
      <td>
        <%= f.label :Phone ,:for=>"booking_ph_no" %></br>
      </td>
      <td>
        <%= f.input :ph_no, :label =>false %>      
     </td>    
    </tr>

    <tr>
      <td>
        <%= f.label "Number of boxes" ,:for=>:booking_vol %></br>
      </td>
      <td>
        <%= f.input :vol, :label =>false, :as => :select,      :collection => 1..20 %>      
      </td>    
    </tr>

    <tr>
      <td>
        <%= f.label "Pickup address",:for=>:booking_addr %></br>
      </td>
      <td>
        <%= f.input :addr, :label =>false %>      
      </td>    
    </tr>

    <tr>
      <td>
        <%= f.label "Delivery address" %></br>
      </td>
      <td>
        <%= f.input :dest, :label =>false %>      
      </td>    
    </tr>

    <tr>
      <td>
        <%= f.label "Pickup date" ,:for=>"booking__pick_date" %></br>
      </td>
      <td>
        <%= f.input :pick_date, :label =>false ,:input_html =>{:class=>"booking_pick_date"}%>      
      </td>    
    </tr>

    <tr>
      <td>
        <%= f.label "Delivery date" %></br>
      </td>
      <td>
        <%= f.input :del_date, :label =>false,:input_html =>{:class=>"booking_pick_date"} %>      
      </td>    
    </tr>


    <tr>
      <td>
        <%= f.label "Parking Zone",:for =>"booking_park_zone"  %></br>
      </td>
      <td>
        <%= f.input :park_zone, :label =>""%>      
      </td>    
    </tr>

    <tr>
      <td>
        <%= f.label "Length of rental period",:for=>"booking_length_rental" %></br>
      </td>
      <td>
        <%= f.input :length_rental, :label =>false %>      
      </td>    
    </tr>

    <% end %>
        <%= f.actions do %>
    <tr>
      <td>
        <%= f.action :submit, :as => :button %>
      </td>
      <td>
       <%= f.action :cancel, :as => :link %>
      </td>
    </tr>

      <% end %>
      
<% end %>
</table>

</div>

<script type="text/javascript">

$(document).ready(function() {
  jQuery(".booking_pick_date").datetimepicker({
        //language:  'fr',
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    forceParse: 0,
    minuteStep:15
    });
  
});

</script> 