<% content_for :head do %>
  <%#= formtastic_stylesheet_link_tag %>
<% end %>

<% content_for :page_title do %>
  <%= @site_page.page_title rescue '' %>
<% end %>

<div class="booking_form">
<table>
<%= semantic_form_for @booking do |f| %>
  <%= f.inputs :name => "Basic" do %>

    <tr>
      <td>
        <%= f.label t('booking.recurring') %></br>
      </td>
      <td>
        <%= f.input :recurring,:label =>""%>      
      </td>    
    </tr>

    <tr>
      <td>
        <%= f.label t('booking.name') %></br>
      </td>
      <td>
        <%= f.input :name, :label =>false %>      
      </td>    
    </tr>

    <tr>
      <td>
        <%= f.label t('booking.email')%></br>
      </td>
      <td>
        <%= f.input :email, :label =>false %>      
      </td>    
    </tr>

    <tr>
      <td>
        <%= f.label "Renting",:for=>:booking_rating %></br>
      </td>
      <td>
        <%= f.input :rating, :label =>false, :as => :select, :collection => 1..4 %>      
      </td>    
    </tr>

    <tr>
      <td>
        <%= f.label t('booking.phone_number') %></br>
      </td>
      <td>
        <%= f.input :phone_number, :label =>false %>      
     </td>    
    </tr>

    <tr>
      <td>
        <%= f.label t('booking.no_of_boxes') %></br>
      </td>
      <td>
        <%= f.input :volume, :label =>false, :as => :select,:collection => 1..20 %>      
      </td>    
    </tr>

     

    <tr>
      <td>
        <%= f.label t('booking.pick_up_address') %></br>
      </td>
      <td>
        <%= f.input :pickup_address, :label =>false %>      
      </td>    
    </tr>

    <tr>
      <td>
        <%= f.label t('booking.delivery_address') %></br>
      </td>
      <td>
        <%= f.input :delivery_address, :label =>false %>      
      </td>    
    </tr>

    <tr>
      <td>
        <%= f.label t('booking.pick_up_date') %></br>
      </td>
      <td>
        <%= f.input :pickup_date, :label =>false ,:input_html =>{:class=>"booking_pick_date"} %>         
      </td>    
    </tr>

    <tr>
      <td>
        <%= f.label t('booking.delivery_date') %></br>
      </td>
      <td>
        <%= f.input :delivery_date, :label =>false,:input_html =>{:class=>"booking_deliver_date"} %>            
      </td>    
    </tr>


    <tr>
      <td>
        <%= f.label t('booking.parking_zone')  %></br>
      </td>
      <td>
        <%= f.input :parking_zone, :label =>""%>      
      </td>    
    </tr>

    <tr>
      <td>
        <%= f.label t('booking.length_of_rental') %></br>
      </td>
      <td>
        <%= f.input :length_rental, :label =>false %>      
      </td>    
    </tr>

    <% end %>
        <%= f.actions do %>
    <tr>
      <td>
        <%= f.action :submit, :as => :button %>
      </td>
      <td>
       <%= f.action :cancel, :as => :link %>
      </td>
    </tr>

      <% end %>
      
<% end %>
</table>

</div>


<script type="text/javascript">
  function convertDateTime(dTime){
      dateTime = dTime.replace(/-/g,"/")      
      if (dateTime){ 
        dateTime = new Date(dateTime.toString())
        dateTime.setDate(dateTime.getDate()+3);
        return dateTime;
      }else{
        return false;
      }
  }
  jQuery(document).ready(function() {
    var startdate = jQuery("#booking_pickup_date").datetimepicker({
      startDate: "<%= Time.now.to_formatted_s(:db) %>",
      autoclose:true
    }).on('changeDate', function(ev){        
      if (ev.date.valueOf() > convertDateTime(jQuery("#booking_delivery_date").val())){
          jQuery("#booking_delivery_date").val('')
      }});
    var enddate = jQuery("#booking_delivery_date").datetimepicker({startDate:"<%= Time.now.to_formatted_s(:db) %>",autoclose:true}).on("click", function(ev){

      var start_date = convertDateTime(jQuery("#booking_pickup_date").val());

      if (start_date)
      {
        $('#booking_delivery_date').datetimepicker('setStartDate',start_date);
      }
    });
});

</script> 