<p style= "margin-top: 13px;">"Do you already know for how long you would like to store your belongings, or would you prefer to remain flexible? Orders for a storage duration of more than 3 months receive a 25 % rebate, those of more than 6 months, 30%, more than 1 year 35% and more than 2 years 40%!" </p>

<% content_for :head do %>
  <%#= formtastic_stylesheet_link_tag %>
<% end %>

<% content_for :page_title do %>
  <%= @site_page.page_title rescue '' %>
<% end %>


<div class="booking_form">
<table>
  <%= semantic_form_for @booking do |f| %>
    <tr>

      <td> 
        <p style= "font-size:14px;margin-bottom:-13px;">You have two choices</p> 
       <p style= "display: inline-block">

        <%= f.radio_button :booking_type, 'every_month' %> <%= f.label "I know how long I would like to store my items", "I know how long I would like to store my items" %>
        <%= f.radio_button :booking_type, 'select_time' %> <%= f.label "I would like to start with just 4 weeks and then decice later","I would like to start with just 4 weeks and then decice later" %></p>
      </td> 
    </tr>
   
  
    <tr>
      <td>
       <%= f.label "delivery_time_slot_and_date_section" ,:id=>"date_pik" %></br>
      </td>

      <td>
      <%= f.input :delivery_date, :label =>false,:input_html =>{:class=>"delivery_time_slot_and_date_section"} %>         
      </td>    
    </tr>    

    <tr>
      <td>
        <%= f.label "Delivery address" %></br>
      </td>
      <td>
        <%= f.input :delivery_address, :label =>false %>      
      </td>    
    </tr>

    <tr>
      <td>
        <%= f.label "Street" %> </br>
      </td>
      <td>
        <%= f.input :street, :label =>false %>      
      </td>    
    </tr>

    <tr>
      <td>
        <%= f.label "House no" %> </br>
      </td>
      <td>
        <%= f.input :house_number, :label =>false %>      
      </td>    
    </tr>

    <tr>
      <td>
        <%= f.label "Postal code" %></br>
      </td>
      <td>
        <%= f.input :pickup_address_postal_code, :label =>false %>      
      </td>    
    </tr>

    <tr>
      <td>
        <%= f.label "Place" %></br>
      </td>
      <td>
        <%= f.input :pickup_address_city, :label =>false %>      
      </td>    
    </tr>

    <tr>
      <td>
        <%= f.label "Country" %></br>
      </td>
      <td>
        <%= f.text_field :pickup_address_country, :label =>false %>   
      </td>    
    </tr>

  
    <%= f.actions do %>
      <tr>
        <td>
          <%= f.action :submit, :as => :button %>
        </td>
 
        <td>
         <%= f.action :cancel, :as => :link %>
        </td>
      </tr>
    <% end %>
      
  <% end %>
</table>

</div>



<script>
 $("#booking_delivery_date").hide();
 $("#date_pik").hide();
 $("input[type='radio']").change(function(){
  if($(this).val()=="every_month")
   {
    $("#booking_delivery_date").show();
    $("#date_pik").show();
   }
  else
   {
    $("#booking_delivery_date").hide(); 
    $("#date_pik").hide();
   }

});

</script>